/* https://flatuicolors.com/palette/gb */
* {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}
html {
	height: 100%;
	
}
body {	
	height: 100%;
    background-color: #7ed6df;
	font-family: verdana, sans-serif;
}

h1 {
    color: #30336b;
    text-align: center;
}

#kanvaasi {
	width: 200px;
	height: 200px;
	border: 5px solid #4cd137;
	display: block;
	margin: auto;
	margin-top: 20px;
	
}
